.wallet-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
}

.wallet-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wallet-form-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}