.wallet-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
}

.wallet-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wallet-form-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wallet-form-input {
    width: 325px;
    height: 30px;
    border-radius: 10px;
    border: 1.5px solid lightgray;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px 10px;
}

.wallet-form-input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1.5px solid rgba(81, 203, 238, 1);
    outline: none;
}

.wallet-form-button {
    background: linear-gradient(90deg,rgba(24,231,193,.84) -13.12%,rgba(27,223,193,.8475) -1.37%,rgba(0,178,255,.92) 112.29%);
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    padding: 5px 20px;
    border-radius: 8px;
    line-height: 1.3;
    border: none;
    height: 30px;
}